@import '../../fonts/fonts.css';

.MenuSelection ul {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(203 0 0 / 44%) 0%, rgba(0, 0, 0, 0) 100%);
}

.MenuSelection li a {
    padding-right: 5rem;
    padding-left: 1.5rem;
    border-color: white;
    line-height: 36px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #ffdddd;
}

.MenuSelection li a:hover {
    background: linear-gradient(90deg, rgba(203, 0, 0, 0.753) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
}

.model-box {
    transition: opacity .5s ease-in-out;
}

.model-box h2,
button {
    font-family: 'Fjalla One', sans-serif;
}

.bg-dark {
    background-color: rgb(8 8 8);
}